@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}

*, *:before, *:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #333;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    background: #eee;
    margin: 0%;
}

#app {
    background: #FFF;
    width: 100%; /*375px*/
    height: 100%; /*667px*/
}

    #app .header {
        height: 11%;
        padding: 0% 3% 0% 3%;
        background: #f6f6f6;
        box-shadow: 0 .1em .3em rgba(0, 0, 0, 0.2);
        font: 2vh "Open Sans";
        line-height: 100%;
        font-weight: 300;
        color: #ddd;
        white-space: nowrap;
        position: relative;
    }

        #app .header .top {
            font: 5vh "Open Sans";
            text-transform: uppercase;
            width: 100%;
            display: table;
            table-layout: fixed;
            overflow: hidden;
        }

            #app .header .top .result {
                text-align: left;
                width: 50%;
                display: table-cell;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            #app .header .top .score {
                font-size: 3vh;
                color: #777;
                text-align: right;
                width: 20%;
                display: table-cell;
            }

            #app .header .top .best {
                font-size: 3vh;
                color: #333;
                text-align: right;
                width: 30%;
                display: table-cell;
            }

            #app .header .top .correct {
                color: #3b7;
            }

            #app .header .top .wrong {
                color: #c33;
            }

            #app .header .top .lucky {
                color: #b3b;
            }

            #app .header .top .title {
                color: #777;
            }

        #app .header .oldcard {
            color: #333;
            display: table;
            width: 100%;
            table-layout: fixed;
            overflow: hidden;
        }

            #app .header .oldcard .cardname {
                width: 60%;
                display: table-cell;
                text-align: left;
                font-weight: bold;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            #app .header .oldcard .fakeprice {
                display: table-cell;
                width: 20%;
                text-align: right;
            }

            #app .header .oldcard .realprice {
                display: table-cell;
                width: 20%;
                text-align: right;
            }

#cards {
    padding: 0% 5% 0% 5%;
    margin: 1.5vh 0em 1.5vh 0em;
    height: 75%;
    overflow: hidden;
    position: relative;
}

.card {
    max-height: 100%;
    max-width: 90%;
    border-radius: 3%;
    overflow: hidden;
    box-shadow: 0 .1em .3em rgba(0, 0, 0, 0.2);
    transition: all .1s linear;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-0%);
}

    .card:nth-child(1) {
        z-index: 5;
    }

    .card:nth-child(2) {
        z-index: 4;
    }

    .card:nth-child(3) {
        z-index: 3;
    }

    .card:nth-child(n+4) {
        z-index: 2;
    }

    .card:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
    }

    .card img {
        height: 100%;
        max-width: 100%;
        background: black;
        vertical-align: top;
    }

    .card span {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3vh;
        padding: 3%;
        font: 2vh "Open Sans";
        line-height: 3%;
        color: #555;
        background-color: rgba(0, 0, 0, .6);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: 600;
        color: #FFF;
    }

@keyframes yes {
    100% {
        left: 150%;
        transform: rotateZ(45deg);
    }
}

.animateYes {
    animation-fill-mode: both;
    animation: yes 0.6s linear;
}

    .animateYes:before {
        transform: rotateZ(-35deg);
        background: url(../img/higher.png) no-repeat center 30px;
    }

@keyframes no {
    100% {
        left: -50%;
        transform: rotateZ(-45deg);
    }
}

.animateNo {
    animation-fill-mode: both;
    animation: no 0.6s linear;
}

    .animateNo:before {
        transform: rotateZ(35deg);
        background: url(../img/lower.png) no-repeat center 30px;
    }

@keyframes lucky {
    100% {
        left: 50%;
        top: -100%;
        transform: translate(-50%, 0%);
    }
}

.animateLucky {
    animation-fill-mode: both;
    animation: lucky 0.6s linear;
}

    .animateLucky:before {
        background: url(../img/lucky.png) no-repeat center 30px;
    }

#control {
    position: relative;
    height: 11%;
    width: 100%;
    display: table;
    overflow: hidden;
    background: #eee;
    box-shadow: 0 -.1em .3em rgba(0, 0, 0, 0.2);
}

    #control .button {
        position: relative;
        display: table-cell;
        vertical-align: top;
    }

        #control .button .trigger {
            background: white;
            border-radius: 50%;
            height: 10vh;
            width: 10vh;
            transition: all .1s;
            text-align: center;
            margin-top: .5vh;
        }


    #control .info {
        margin: auto;
        text-align: center;
        width: 20vw;
    }

    #control .no {
        text-align: right;
    }



    #control .button .display {
        position: relative;
        background: none;
        border: none;
        font: 6vh "Open Sans";
        font-weight: 300;
    }

    #control .button .trigger:active {
        transform: scale(0.75);
        transition: all .05s linear;
    }

    #control .button .trigger:before {
        font-family: 'FontAwesome';
    }


    #control .no .trigger:before {
        content: "\f0d6";
        font-size: 3vh;
        color: #c33;
    }


    #control .yes .trigger:before {
        content: "\f0d6";
        font-size: 5vh;
        color: #3b7;
    }
